{% extends 'tms/tms.html' %}

{% block content %}
    <div class="report-wrapper">
        <div class="report-content m-t-md">
            <div class="report-header">
                <div class="report-control">
                <span class="report-date">
    大于等于 {{ start_time_str }} 小于 {{ end_time_str }}，共 {{ days_num }} 天
                    {% if is_cur_week %}
                        <small>(本周)</small>
                    {% endif %}
                </span>
                </div>
            </div>
            {{ macros.report_body(report_data) }}
        </div>
        <div class="report-aside">
            <div style="text-align: center;" class="m-t-lg">
                <img src="/static/imgs/google-material-ui-example.png" alt=""/>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
