{% extends 'tms/tms.html' %}

{% block content_title %}
    我的日报
{% endblock %}

{% block content %}
    <div class="m-r">
    <table class="admin-table">
        <thead>
        <tr>
            <th>日期</th>
            <th>简图</th>
            <th>总体耗时</th>
            <th>有效耗时</th>
            <th>工作</th>
            <th>学习</th>
            <th>计时项</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2016年7月25日</td>
            <td>sparkline</td>
            <td>8H</td>
            <td>6H</td>
            <td>2H</td>
            <td>4H</td>
            <td>233个</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
