{% extends 'admin.html' %}

{% block admin_aside_title %}
    时间管理
{% endblock %}

{% block admin_aside_body %}
    {{ macros.admin_aside_section(id='reportSection', title='报表', section_items=[
            (url('tms:day_report'), '日报', 'file-text-o'),
            (url('tms:week_report'), '周报', 'file-text-o'),
            (url('tms:custom_report'), '自定制', 'file-text-o'),
            (url('tms:year_report'), '年度报表', 'file-text-o'),
            ]

    ) }}
    {{ macros.admin_aside_section(id='projectSection', title='项目', section_items=[
            (url('tms:project'), '项目分析', 'tasks'),
            ]
    ) }}
    {{ macros.admin_aside_single_section(url('tms:calendar'), '时间纪年', 'calendar') }}
    {{ macros.admin_aside_single_section(url('tms:about'), '关于', 'info-circle') }}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/js/tms.js"></script>

    <script>
        $(document).ready(function() {
            toggleCaretWhenCollapse($('#reportSection, #projectSection'));
        });
    </script>
{% endblock %}
