<div id="header">
    <div class="site-name">
        <h1 class="hidden">仲之地</h1>
        <a id="logo" href="/">仲之地</a>
        <p class="description">进化成为更强力的个体</p>
    </div>
    <div id="nav-menu">
        <a class="current" href="/">
            <i class="fa fa-home"> 首页</i>
        </a>
        <a href="/archives/">
            <i class="fa fa-archive"> 归档</i>
        </a>
        <a href="/reading/archives/">
            <i class="fa fa-book"> 读书</i>
        </a>
        <a href="/gallery/">
            <i class="fa fa-photo"> Gallery</i>
        </a>
    </div>
</div>