{% macro render_item_events(item) %}
    {% if item.events %}
        <div class="timeline">
            <h2>锚点 <small>共 {{ item.events|length }} 个</small></h2>
            <ul>
                {% for event in item.events %}
                    <li class="text">
                        <a href="{{ item_url(event) }}">
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.summary }}</p>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% else %}
{#        <div class="alert alert-warning" role="alert">#}
{#            No events#}
{#        </div>#}
    {% endif %}
{% endmacro %}
