{% macro render_item_events(item) %}
    {% if item.events %}
        <div class="timeline-content">
            <h2>锚点 <small>共 {{ item.events|length }} 个</small></h2>
            <ul>
                {% for event in item.events %}
                    <li class="text">
                        <a href="{{ item_url(event) }}">
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.summary }}</p>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% else %}
{#        <div class="alert alert-warning" role="alert">#}
{#            No events#}
{#        </div>s#}
    {% endif %}
{% endmacro %}

{% macro admin_aside_section_header(section_body_id, title, is_collapsed=False) %}
    <div class="section-header">
        <a href="#{{ section_body_id }}" class="collapse-header" data-toggle="collapse" aria-expanded="false" aria-controls="{{ admin_aside_section_item }}">
            {% if is_collapsed %}
                <i class="fa fa-caret-right"></i>
            {% else %}
                <i class="fa fa-caret-down"></i>
            {% endif %}
            {{ title }}
        </a>
    </div>
{% endmacro %}

{% macro active_if_path_include(page_url) %}
    {% if page_url in request.path %}
        active
    {% else %}
    {% endif %}
{% endmacro %}

{% macro admin_aside_section_item(page_url, title, icon) %}
    <li class="section-item {{ active_if_path_include(page_url) }}">
        <a href="{{ page_url }}">
            <i class="fa fa-{{ icon }}"></i>
            {{ title }}
        </a>
    </li>
{% endmacro %}

{% macro admin_aside_section(id, title, section_items, is_collapsed=False) %}
    <div class="aside-section project-section">
        {{ admin_aside_section_header(id, title) }}
        <div class="section-body collapse in" id="{{ id }}">
            <ul class="section-list">
                {% for section_item in section_items %}
                    {{ admin_aside_section_item(section_item[0], section_item[1], section_item[2]) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro admin_aside_single_section(page_url, title, icon) %}
    <div class="aside-section">
        <div class="section-header {{ active_if_path_include(page_url)}}">
            <a href="{{ page_url }}">
                <i class="fa fa-{{ icon }}"></i>
                {{ title }}
            </a>
        </div>
    </div>
{% endmacro %}

{% macro report_body(report_data) %}
    <div class="report-body m-y-lg">
        <ul>
            {% for category in report_data.categories %}
                <li>
                    <span><strong style="color: darkred; font-size: 110%; text-decoration: underline;">{{ category.name }}</strong> [<strong style="color: darkgreen">耗时: {{ category.cost }}</strong>][<strong style="color: red">总占比: {{ category.pct }}</strong>]</span>：
                    <ul>
                        {% for project in category.projects %}
                            <li>
                                <div class="project-item">
                                    <a href="#project{{ project.id }}" class="collapse-header" data-toggle="collapse" aria-expanded="false" aria-controls="project{{ project.id }}">
                                        <strong>{{ project.name }}</strong> [耗时: {{ project.cost }}][占比: {{ project.pct }}]：
                                    </a>
                                    <ul class="collapse {% if loop.index == 1 %} in {% endif %}" id="project{{ project.id }}">
                                        {% for thing in project.things %}
                                            <li>{{ thing.name }} [耗时: {{ thing.cost }}]</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
