<!DOCTYPE html>
<html>
<head>
    <title>{{ item.uri }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="stylesheet" href="/static/css/pygments.github.css"/>
</head>
<body data-spy="scroll" data-target="#toc" >

{% block navbar %}
    {% include '_partials/header.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}


{% block footer %}
    {% include '_partials/footer.html' %}
{% endblock %}

</body>
</html>
