<!DOCTYPE html>
<html>
<head>
    <title>{{ item.uri }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="stylesheet" href="/static/css/pygments/default.css"/>
</head>

{% block body_tag %}
    <body>
{% endblock %}

{% block navbar %}
    {% include '_partials/header.html' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include '_partials/footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
