{% extends "base.html" %}

{% block content_main %}
    <div class="content_container">
        <div class="post">
            <h1 class="post-title">
                {{ item.title }}
            </h1>
            <div class="post-meta">
                {{ item.date.strftime('%Y-%m-%d') }}
            </div>
            <div class="post-content">
                {{ item.content }}
            </div>
        </div>

    </div>
{% endblock %}

{% block content_sidebar %}
{#    {{ item.toc if item.toc }}#}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">
        $('#toc').affix({
            offset: {
                top: $('#toc').offset().top,
                bottom: ($('#footer').outerHeight(true))
            }
        });
    </script>
{% endblock %}
