{% extends "base.html" %}

{% block body_tag %}
    <body class="life">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="inner-container m-t-lg" id="article-title">
            <h1>{{ item.title }}</h1>
        </div>
    </div>

    <div id="article-bar">
        <ul role="tablist">
            <li role="presentation" class="active"><a href="#article" role="tab" data-toggle="tab">article</a></li>
            <li role="presentation"><a href="#gallery" role="tab" data-toggle="tab">gallery</a></li>
            <li role="presentation"><a href="#map" role="tab" data-toggle="tab">map</a></li>
        </ul>
    </div>

    <div class="container m-t-lg">
        {{ item.output }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('#article-bar').affix({
                offset: {
                    top: $('#article-bar').offset().top,
                    bottom: ($('#footer').outerHeight(true))
                }
            });

            var url = document.location.toString();
            if (url.match('#')) {
                var panelId = url.split('#')[1];
                $('#article-bar a[href="#' + panelId + '"]').tab('show');
                handlePanels(panelId);
            }
            
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // Modify url
                window.location.hash = e.target.hash;

                var panelId = e.target.hash.split('#')[1];
                handlePanels(panelId);
            })
        });

        function handlePanels(panelId) {
            if (panelId == 'gallery') {
                $('#grid').imageGrid();
                $('#article-title').removeClass('inner-container');
            } else if (panelId == 'article') {
                $('#article-title').addClass('inner-container');
            } else if (panelId == 'map') {
                $('#article-title').removeClass('inner-container');
            }
        }
    </script>
{% endblock %}
