{% extends "base.html" %}

{% block main %}
    <div class="m-a">
        <h1 class="center">{{ item.title }}</h1>
        {{ item.content }}
    </div>
{% endblock %}

{#{% block aside %}#}
{#    <div class="m-t-lg">#}
{#        <ul class="list-group">#}
{#            {% for it in photos_items %}#}
{#                <a class="list-group-item {% if it.uri == item.uri %} active {% endif %}" href="/{{ it.uri }}">#}
{#                    {{ it.title }}#}
{#                </a>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#{% endblock %}#}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('.grid').imageGrid();
        });
    </script>
{% endblock %}
