{% extends 'evernote.html' %}

{% block aside2_content %}
    <div class="p-x-xs p-t">
        <ul class="list-group">
            <a class="list-group-item {% if item.uri == 'time/tms' %} active {% endif %}" href="/time/day/">时间分析</a>
            <a class="list-group-item">按周统计</a>
            <a class="list-group-item">按年统计</a>
        </ul>

        <ul class="list-group">
            {% for it in time_items %}
                <a class="list-group-item {% if it.uri == item.uri %} active {% endif %}" href="{{ item_url(it) }}">
                    {{ it.title }}
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1 class="center">{{ item.title }}</h1>
    {{ item.content }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/js/tms.js"></script>
{% endblock %}
