{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 timeline">
                {% for year, items_of_year in items_group_by_year %}
                    <div>
                        <h2>{{ year }} 年 <small>共 {{ items_of_year|length }} 篇</small></h2>
                        <ul>
                            {% for it in items_of_year %}
                                {% if it.extension in ['org', 'md'] %}
                                    <li class="text">
                                        <a href="/{{ it.uri }}" target="_blank">
                                            <h3>{{ it.title }}</h3>
                                            <p>{{ it.summary }}</p>
                            <span class="info">
                                <em>{{ it.date.strftime('%-m月%-d日') }}</em>
{#                                <small></small>#}
                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}