{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Clock Report</h2>
                <table>
                    <caption>2016-04-05</caption>
                    <tr>
                        <th>类别</th>
                        <th>总耗时</th>
                        <th>项目</th>
                        <th>耗时</th>
                    </tr>
                    <tr>
                        <th>未归类</th>
                        <td>0:27</td>
                        <td>读《万历十五年》</td>
                        <td>0:27</td>
                    </tr>
                    <tr>
                        <th>工作</th>
                        <td>0:10</td>
                        <td>运维</td>
                        <td>0:10</td>
                    </tr>
                    <tr>
                        <th rowspan="3">学习</th>
                        <td rowspan="3">7:19</td>
                        <td>pyorg</td>
                        <td>3:21</td>
                    </tr>
                    <tr>
                        <td>MySite V3</td>
                        <td>2:47</td>
                    </tr>
                    <tr>
                        <td>MySSG</td>
                        <td>1:11</td>
                    </tr>
                </table>
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                        <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
                <h2>Clock Check</h2>
                <table>
                    <tr>
                        <th>开始</th>
                        <th>结束</th>
                        <th>耗时</th>
                        <th>项目</th>
                        <th>事情</th>
                    </tr>
                    {% for it in clock_items %}
                        <tr>
                            <td>{{ it.start_time.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ it.end_time.strftime('%m-%d %H:%M') }}</td>
                            <td>{{ it.time_cost }}</td>
                            <td>{{ it.project }}</td>
                            <td>{{ it.thing }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}
