{% extends 'tms/day_report.html' %}

{% block content %}
    <a href="{% url 'tms:day_report' %}">返回</a>
    <div class="report-wrapper">
        <div class="report-content m-t-md">
            <div class="report-header">
                <div class="report-control">
                    <a class="control-arrow" href="{% url 'tms:day_report' %}?date={{ prev_date_str }}"><i class="fa fa-angle-left"></i></a>
                <span class="report-date">{{ date_str }}
                    {% if is_cur_day %}
                        <small>(本日)</small>
                    {% endif %}
                </span>
                    <a class="control-arrow" {% if not is_cur_day %}href="{% url 'tms:day_report' %}?date={{ next_date_str }}" {% endif %}><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="report-body m-y-lg">
                <ul>
                    {% for category in report_data.categories %}
                        <li>
                            <span><strong style="color: darkred; font-size: 110%; text-decoration: underline;">{{ category.name }}</strong> [<strong style="color: darkgreen">耗时: {{ category.cost }}</strong>][<strong style="color: red">总占比: {{ category.pct }}</strong>]</span>：
                            <ul>
                                {% for project in category.projects %}
                                    <li>
                                        <div class="project-item">
                                            <a href="#project{{ project.id }}" class="collapse-header" data-toggle="collapse" aria-expanded="false" aria-controls="project{{ project.id }}">
                                                <strong>{{ project.name }}</strong> [耗时: {{ project.cost }}][占比: {{ project.pct }}]：
                                            </a>
                                            <ul class="collapse {% if loop.index == 1 %} in {% endif %}" id="project{{ project.id }}">
                                                {% for thing in project.things %}
                                                    <li>{{ thing.name }} [耗时: {{ thing.cost }}]</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="report-aside">
        </div>
    </div>
    <div class="m-x">
{#        {{ macros.render_clock_items(clock_items, date) }}#}
    </div>
{% endblock %}
