{% extends 'tms/base.html' %}

{% block main %}
    <div class="admin-main-wrapper">
        <div class="admin-main-header m-x">
            <div class="title">
                <a href="#">
                    <i class="fa fa-file-text-o"></i>
                    我的日报
                </a>
            </div>
        </div>

        <div class="admin-main-body m-x">
            <div class="report-content m-t-md">
                <div class="report-header">
                    <div class="report-control">
                        <a class="control-arrow" href="{% url 'tms:day_report' %}?date={{ prev_date_str }}"><i class="fa fa-angle-left"></i></a>
                <span class="report-date">{{ date_str }}
                    {% if is_cur_day %}
                        <small>(本日)</small>
                    {% endif %}
                </span>
                        <a class="control-arrow" {% if not is_cur_day %}href="{% url 'tms:day_report' %}?date={{ next_date_str }}" {% endif %}><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="report-body m-y-lg">
                    <ul>
                        {% for category in report_data.categories %}
                            <li>
                                <span><strong style="color: darkred; font-size: 110%; text-decoration: underline;">{{ category.name }}</strong> [<strong style="color: darkgreen">耗时: {{ category.cost }}</strong>][<strong style="color: red">总占比: {{ category.pct }}</strong>]</span>：
                                <ul>
                                    {% for project in category.projects %}
                                        <li>
                                            <div class="project-item">
                                                <a href="#project{{ project.id }}" class="collapse-header" data-toggle="collapse" aria-expanded="false" aria-controls="project{{ project.id }}">
                                                    <strong>{{ project.name }}</strong> [耗时: {{ project.cost }}][占比: {{ project.pct }}]：
                                                </a>
                                                <ul class="collapse {% if forloop.counter == 1 %} in {% endif %}" id="project{{ project.id }}">
                                                    {% for thing in project.things %}
                                                        <li>{{ thing.name }} [耗时: {{ thing.cost }}]</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="report-aside">
                <div style="text-align: center;" class="m-t-md">
                    <img src="https://img3.doubanio.com/lpic/s27978963.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="/static/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/node_modules/echarts/dist/echarts.min.js"></script>
    <script src="/static/js/tms.js"></script>
    <script src="/static/js/tms_echarts.js"></script>
{% endblock %}
