<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        TMS V2
    </title>
    <link rel="stylesheet" href="/tms/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/tms/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/tms/static/node_modules/antd/dist/antd.css">
</head>

<body class="admin">
    <div class="admin" id="app"></div>
    <script src="/tms/static/node_modules/build/bundle.js"></script>
</body>

</html>